


main {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  section {
    width: 80%;
    max-width: 450px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px #ced4dd;
    padding: 20px 6px;
    border-radius: 10px;
  }
  
  section h1 {
    margin: 10px 0;
    text-align: center;
  }
  
  section input {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
  }
  
  section input:focus {
    box-shadow: 0 0 15px #ced4dd;
  }
  
  section button {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 300;
    font-size: 1rem;
  }
  
  section button:hover {
    box-shadow: 0px 0px 15px #ced4dd;
  }
  
  section h3 {
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
  }
  
  section span {
    color: #1e90ff;
    cursor: pointer;
  }
  
  .error {
    color: red;
    cursor: auto;
    margin-bottom: 15px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 100px;
  }
  
  .button {
    background-color: #1e90ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
.navbar {
    background-color: cornflowerblue;
    height: 20vh;
}
  
.logo-img {
    width: 115px;
    height: 115px;
    margin-inline: 20px;
}

.mioffcanvas {
    background-color: cornflowerblue !important; /*va con !important para sobrecargar el color definido*/
    color: white !important;
}
  
.boton-offcanvas {
    background-color: white !important; /*va con !important para sobrecargar el color definido*/
    color: royalblue !important;
    width: 300px;
}
  
  .boton-offcanvas:hover {
    background-color: royalblue !important; /* cambia el color de fondo al pasar el mouse */
    color: white !important; /* cambia el color del texto al pasar el mouse */
    transform: scale(1.05); /* aumenta ligeramente el tamaño del botón */
    transition: all 0.3s ease; /* transición suave */
    display: block;
    margin-inline: auto; /* centra horizontalmente */
  }